{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
  <script>
    var edited = false;

    $(function () {
      $("input").on("keypress", function (e) {
        return e.which != 13;
      });
      $('#js_pay_date_input').on('change', function () {
        var pay_type_str = $(this).val();
        if (pay_type_str == '선택해주세요') {

        }
        else if (pay_type_str == '긴급') {
          var date_str = false;
          while (1) {
            date_str = false;
            var date = prompt('날짜를 입력해주세요(예시 : 2010/3/2)');
            if (!date) {
              $(this).val('선택해주세요');
              return;
            }
            try {
              var date_obj = new Date(date);
              date_str = date_obj.getFullYear() + '-' + (date_obj.getMonth() + 1) + '-' + date_obj.getDate();
            }
            catch (e) {
            }
            if (date_str)
              break;
          }
          if (date_str) {
            $('option:selected', this).text('긴급(' + date_str + ')');
            $('input[name=pay_date]').val(date_str);
          }
          else
            $('input[name=pay_date]').val('');
        }
        else
          $.post('/payments/get_pay_date_by_str', {pay_type_str: pay_type_str}, function (dat) {
            $('input[name=pay_date]').val(dat);
          })
      }).trigger('change');

      $('#js_category_input').on('change', function () {
        var category = $(this).val();
        if (category == '기타') {
          var category_detail = prompt('상세한 내역 입력해주세요');
          if (!category_detail) {
            category_detail = '기타';
          }
          else {
            category_detail = '기타(' + category_detail + ')';
          }
          $('option:selected', this).text(category_detail);
          $(this).trigger("chosen:updated");
          category = category_detail;
        }
        $('input[name=category]').val(category);
      }).trigger('change');

      $('.js_payments_check').click(function () {
        var $checked = $(this).prop('checked');
        $('.js_payment_check').prop('checked', $checked);
      });
      $('.js_edit_all').change(function () {
        var url = '/payments/edit';
        var $this = $(this);
        var key = $this.data('key');
        var value = $this.val();
        $this.val(0);
        var checkboxes = $('.js_payment_check:checked');
        var checkbox_count = checkboxes.length;
        checkboxes.each(function () {
          var $check = $(this);
          var paymentid = $check.data('paymentid');
          var arg = {paymentid: paymentid, key: key, value: value};
          //alert(url,arg);
          //console.debug(arg);
          $.post(url, arg, function () {
            checkbox_count--;
            if (checkbox_count == 0)
              location.reload();
          });
        });
      });

      {% if editable %}
      $('.payment td[key]').each(function () {
        var paymentid = $(this).parent().data('paymentid');
        var key = $(this).data('key');
        var keyselect = $(this).data('keyselect') != undefined;
        var submitdata = {paymentid: paymentid, key: key};
        var args = {submitdata: submitdata};

        if (key == 'price') {
          args['data'] = function (value, settings) {
            return value.replace(/\D/gi, '');
          };
        }
        else {
          args['data'] = function (value) {
            edited = true;
            return value;
          };
        }
        if (keyselect) {
          args['type'] = 'select';
          args['loadurl'] = '/payments/const/' + key;
          args['submit'] = "OK";
        }

        $(this).editable('/payments/edit', args);
      });
      {% endif %}
      $('select[name=js_super_edit]')
        .change(function () {
          $.post('/usersession/superedit', {uid: $(this).val()}, function (dat) {
              if (dat == '1')
                window.location.reload();
              else
                alert(dat);
            }
          );
        })
        .val({{currentUid}});
      var js_recipts_title = $('.js_recipts_title');
      js_recipts_title.text($("select[name=js_super_edit]:first option:selected").text());
    });
  </script>
  <style>
    td {
      word-break: keep-all;
      white-space: nowrap;
    }

    tr.add td {
      margin: 0;
      padding: 0;
    }

    tr.add input, tr.add select {
      border: 1px solid #aaaaaa;
    }
  </style>
{% endblock %}

{% block body %}
  <form
    attrajax
    data-aa-url='/payments/add'
    data-aa-datatype="text"
    data-aa-method='post'
    data-aa-success-if-result-is="1"
    data-aa-onsuccess-msg="추가되었습니다"
    data-aa-onsuccess="refresh"
    data-aa-onfail-alert="true"
    onsubmit="$('[name=scope]').removeAttr('disabled');"
    >

    <div class='paymentsInfo'>
      <h2>[{{ month }}] <span class='js_recipts_title'>{{ user.name }}</span></h2>
    </div>
    <table>
      <thead>
      <tr>
        <td rowspan="5">
          <input type="checkbox" class="js_payments_check" name="" title="payment_checkbox_all"/>
        </td>
      </tr>
      <tr>
        <td colspan='19'>
          <span>[{{ month }}] 결제요청 (<span class='js_recipts_title'>{{ user.name }}</span>)</span>
				<span>
					<a href='/payments/index/{{ prevmonth }}' class='paymentsCommand'>전달</a>
					<a href='/payments/index/{{ nextmonth }}' class='paymentsCommand'>다음달</a>
				</span>
        </td>
      </tr>
      <tr>
        <td colspan="3" rowspan="2">자동입력</td>
        <td colspan="13">업무부서 입력</td>
        <td colspan="2" rowspan="2">CO팀 입력</td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="5">기본정보</td>
        <td colspan="7">결제정보</td>
        <td colspan="1"></td>
      </tr>
      <tr>
        <td>요청일</td>
        <td>요청자</td>
        <td>승인자</td>
        <td>귀속월</td>
        <td>귀속부서</td>
        <td>프로덕트</td>
        <td>분류</td>
        <td>상세내역</td>
        <td>업체명</td>
        <td>입금은행</td>
        <td>입금계좌번호</td>
        <td>예금주</td>
        <td>입금금액</td>
        <td>결제(예정)일</td>
        <td>세금계산서수취여부</td>
        <td>비고</td>
        <td>결제수단</td>
        <td>상태</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for key, payment in payments %}
        <tr class='payment
                {% if payment.status == '결제 완료' %}
                    payment_done
                {% endif %}
                ' data-paymentid='{{ payment.paymentid }}'>
          <td>
            <input type="checkbox" class="js_payment_check" data-paymentid="{{ payment.paymentid }}" title="payment_checkbox"/>
          </td>
          <td>{{ payment.request_date | slice(0, 10) }}</td>
          <td>{{ payment.name }}</td>
          <td data-key='manager_uid' data-keyselect>{{ payment.manager_name }}</td>
          <td data-key='month'>{{ payment.month }}</td>
          <td data-key='team' data-keyselect>{{ payment.team }}</td>
          <td data-key='product' data-keyselect>{{ payment.product }}</td>
          <td data-key='category'>{{ payment.category }}</td>
          <td data-key='desc'>{{ payment.desc }}</td>
          <td data-key='company_name'>{{ payment.company_name }}</td>
          <td data-key='bank'>{{ payment.bank }}</td>
          <td data-key='bank_account'>{{ payment.bank_account }}</td>
          <td data-key='bank_account_owner'>{{ payment.bank_account_owner }}</td>
          <td data-key='price'>{{ payment.price | number_format }}</td>
          <td data-key='pay_date'>{{ payment.pay_date | slice(0, 10) }}</td>
          <td data-key='tax' data-keyselect>{{ payment.tax }}</td>
          <td data-key='note'>{{ payment.note }}</td>
          {% if isSuperAdmin %}
            <td data-key='paytype' data-keyselect>{{ payment.paytype }}</td>
            <td data-key='status' data-keyselect>{{ payment.status }}</td>
          {% else %}
            <td>{{ payment.paytype }}</td>
            <td>{{ payment.status }}</td>
          {% endif %}
          <td class='paymentsCommand'>
            {% if editable %}
              <input type='button' value='삭제'
                     attrajax
                     data-aa-url='/payments/del/{{ payment.paymentid }}'
                     data-aa-confirm='정말 삭제하시겠습니까?'
                     data-aa-datatype="text"
                     data-aa-success-if-result-is="1"
                     data-aa-onsuccess-msg="삭제되었습니다"
                     data-aa-onsuccess="refresh"
                     data-aa-onfail-alert="true"
                />
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr class='add'>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <label>
            <select name='manager_uid' js_cookie_save js_data_chosen style="width:80px">
              {% for user in allCurrentUsers %}
                <option value='{{ user.uid }}'>{{ user.name }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td>
          <input type='text' name='month' maxlength='7' style='width:60px;' value="{{ todayMonth }}"
                 placeholder="yyyy/mm"/>
        </td>
        <td>
          <label>
            <select name='team' js_cookie_save js_data_chosen>
              {% for team in const.teams %}
                <option value='{{ team }}'>{{ team }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td>
          <label>
            <select name='product' js_cookie_save js_data_chosen>
              {% for product in const.products %}
                <option value='{{ product }}'>{{ product }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td>
          <label>
            <select id='js_category_input' js_cookie_save js_data_chosen>
              {% for product in const.categorys %}
                <option value='{{ product }}'>{{ product }}</option>
              {% endfor %}
            </select>
            <input type='hidden' name='category'/>
          </label>
        </td>
        <td><input type='text' name='desc' style='width:250px' placeholder='행사지원 쿠폰 인쇄'/></td>
        <td><input type='text' name='company_name' placeholder=''/></td>
        <td><input type='text' name='bank' style='width:60px' placeholder='우리'/></td>
        <td><input type='text' name='bank_account' placeholder='xxx-xxxxxxx-xx-xxx'/></td>
        <td><input type='text' name='bank_account_owner' placeholder='홍길동'/></td>
        <td><input type='text' name='price' js_number_format placeholder=''/></td>
        <td>
          <label>
            <select id="js_pay_date_input">
              {% for product in const.pay_dates %}
                <option value='{{ product }}'>{{ product }}</option>
              {% endfor %}
            </select>
          </label>
          <input type='hidden' name='pay_date'/>
        </td>
        <td>
          <label>
            <select name='tax' js_cookie_save>
              {% for tax in const.taxs %}
                <option value='{{ tax }}'>{{ tax }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td><input type='text' name='note' placeholder='비고'/></td>
        <td>
          {% if isSuperAdmin %}
          <label>
            <select name='paytype' js_cookie_save js_data_chosen>
              <option value='미정'>미정</option>
              {% for paytype in const.paytypes %}
                <option value='{{ paytype }}'>{{ paytype }}</option>
              {% endfor %}
            </select>
          </label>
          {% endif %}
        </td>
        <td>
          {% if isSuperAdmin %}
          <label>
            <select name='status' js_cookie_save js_data_chosen>
              {% for status in const.statuses %}
                <option value='{{ status }}'>{{ status }}</option>
              {% endfor %}
            </select>
          </label>
          {% endif %}
        </td>
        <td><input type="submit" value="추가"/></td>
      </tr>
      {% if isSuperAdmin %}
        <tr>
          <td colspan="17"></td>
          <td>
            <select class="js_edit_all" data-key="paytype" title="paytype">
              <option value='0'>선택 일괄 적용</option>
              {% for paytype in const.paytypes %}
                <option value='{{ paytype }}'>{{ paytype }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select class="js_edit_all" data-key="status" title="status">
              <option value='0'>선택 일괄 적용</option>
              {% for status in const.statuses %}
                <option value='{{ status }}'>{{ status }}</option>
              {% endfor %}
            </select>
          </td>
          <td></td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </form>

  <div>
        <pre>
A. 기본정보
  1. <b><span style="color: red">승인자</span> : 본인의 상급자 (팀장, 파트장 등등)</b>
  2. 귀속월 : 비용이 실제 사용되는 년/월을 입력 (귀속월이 확정되지 않은 경우, 당월 입력할 것)
  3. 귀속부서 및 프로덕트 : 목록에서 선택
  4. 분류 : 사용 용도를 간단하게 입력 (ex. 광고비, 인쇄비, …)
  5. 상세내역 : 사용목적 등을 자세하게 입력
B. 결제정보
  1. 입금금액 : 부가세 포함한 전체 금액, 또는 원천징수세액 제외한 실 지급 금액을 입력
  2. 결제예정일 : 거래처에 입금을 해주어야 하는 날짜를 입력
  3. 세금계산서수취여부 : 결제요청 당시 수취여부 기입 (Y/N) 만약, 미수취상태인 경우 "비고"란에 수취예정일 기입
4. 비고 : 구매해야할 품목의 링크 입력
        </pre>

  </div>

  {% if isSuperAdmin %}
    <div>
      <table>
        <thead>
        <tr>
          <td>특수작업</td>
          <td>실행</td>
        <tr>
        </thead>
        <tr>
          <td>
            이번달 결제자료 모두 다운받기
          </td>
          <td>
            <input type="button" value="받기"
                   onclick="location.href='/payments/download/{{ month }}'"/>
          </td>
        </tr>
        <tr>
          <td>
            다른 사람 편집하기
          </td>
          <td>
            <label>
              <select name='js_super_edit' js_data_chosen style="width:100px">
                {% for user in allUsers %}
                  <option value='{{ user.uid }}'>{{ user.name }}</option>
                {% endfor %}
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            대기중인 요청
          </td>
          <td>
            <label>
              <select name='js_super_edit' js_data_chosen>
                <option selected>요청 선택</option>
                {% for user in queuedPayments %}
                  <option value='{{ user.uid }}'>{{ user.name }} (예정일
                    : {{ user.pay_date | slice(0, 10) }}
                    )
                  </option>
                {% endfor %}
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            오늘 결제 대기중
          </td>
          <td>
            {{ todayQueuedCost }} 원 ({{ todayQueuedCount }}건)
          </td>
        </tr>
      </table>
    </div>
  {% endif %}
{% endblock %}
