{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
  <style>
    th {
      font-size: 12px;
      white-space: nowrap;
    }

    td {
      white-space: nowrap;
    }

    .js_column_fold {
      width: 20px !important;
      overflow: hidden;
      box-shadow: -10px 0 10px #f0f0f0 inset;
    }

    tr.add td {
      margin: 0;
      padding: 0;
    }

    tr.payment_done td{
      color: #bbbbbb;
    }

    .fileupload_button {
      position: relative;
      overflow: hidden;
    }

    .fileupload_button input.js_fileupload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }

  </style>
  <script>
    require(["jquery", "jquery.jeditable", "jquery.fileupload", 'bootstrap.datatables', 'jquery.cookie'], function ($) {
      var datatable = $('table[datatable]').DataTable(
        {
          "paging": false,
          "ordering": false
        });
      $('table').css('table-layout', 'fixed');
      $('th').on('click', function () {
        var column = datatable.column(this);
        column.nodes().to$().toggleClass('js_column_fold');
        $(column.header()).toggleClass('js_column_fold');
        $(column.footer()).toggleClass('js_column_fold');
      });
      $('table th')
        .click(function () {
          var index = datatable.column(this).index();
          var $this = $(this);
          var key = 'payment_column_' + index;
          var val = null;
          if ($this.hasClass('js_column_fold'))
            val = '1';
          $.cookie(key, val);
        })
        .each(function () {
          var index = datatable.column(this).index();
          var key = 'payment_column_' + index;

          var cookied_value = $.cookie(key);
          if (cookied_value !== undefined)
            if (cookied_value == '1') {
              var column = datatable.column(this);
              column.nodes().to$().addClass('js_column_fold');
              $(column.header()).addClass('js_column_fold');
              $(column.footer()).addClass('js_column_fold');
            }
        });
      $("input").on("keypress", function (e) {
        return e.which != 13;
      });
      $('#js_pay_date_input').on('change', function () {
        var pay_type_str = $(this).val();
        if (pay_type_str == '선택해주세요') {

        }
        else if (pay_type_str == '긴급') {
          var date_str = false;
          while (1) {
            date_str = false;
            var date = prompt('날짜를 입력해주세요(예시 : 2010/3/2)');
            if (!date) {
              $(this).val('선택해주세요');
              return;
            }
            try {
              var date_obj = new Date(date);
              date_str = date_obj.getFullYear() + '-' + (date_obj.getMonth() + 1) + '-' + date_obj.getDate();
            }
            catch (e) {
            }
            if (date_str)
              break;
          }
          if (date_str) {
            $('option:selected', this).text('긴급(' + date_str + ')');
            $('input[name=pay_date]').val(date_str);
          }
          else
            $('input[name=pay_date]').val('');
        }
        else
          $.post('/payments/get_pay_date_by_str', {pay_type_str: pay_type_str}, function (dat) {
            $('input[name=pay_date]').val(dat);
          })
      }).trigger('change');

      $('#js_category_input').on('change', function () {
        var category = $(this).val();
        if (category == '기타') {
          var category_detail = prompt('상세한 내역 입력해주세요');
          if (!category_detail) {
            category_detail = '기타';
          }
          else {
            category_detail = '기타(' + category_detail + ')';
          }
          $('option:selected', this).text(category_detail);
          $(this).trigger("chosen:updated");
          category = category_detail;
        }
        $('input[name=category]').val(category);
      }).trigger('change');

      $('.js_payments_check').click(function () {
        var $checked = $(this).prop('checked');
        $('.js_payment_check').prop('checked', $checked);
      });
      $('.js_edit_all').change(function () {
        var select_button = $(this);
        var key = select_button.data('key');
        var value = select_button.val();
        select_button.val(0);

        var checkboxes = $('.js_payment_check:checked');
        var checkbox_count = checkboxes.length;
        checkboxes.each(function () {
          var row = $(this);
          var paymentid = row.data('paymentid');
          var arg = {key: key, value: value};
          $.ajax('/payments/paymentid/' + paymentid, {
            method: 'put',
            data: arg,
            success: function () {
              checkbox_count--;
              if (checkbox_count == 0)
                location.reload();
            }
          });
        });
      });
      // Change this to the location of your server-side upload handler:
      var url = '/payments/file_upload/';
      $('.js_fileupload').each(function () {
        var paymentid = $(this).data('paymentid');
        var $progress = $('div.progress-bar');
        $(this).fileupload({
          formData: {paymentid: paymentid},
          dropZone: $(this),
          url: url,
          dataType: 'json',
          done: function () {
            $progress.css('width', '0');
            document.location.reload();
          },
          progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $progress.css('width', progress + '%');
          }
        })
          .prop('disabled', !$.support.fileInput)
          .parent()
          .addClass($.support.fileInput ? undefined : 'disabled');

      });
      $('.payment td[data-key]').each(function () {
        var tr_object = $(this).parentsUntil('table').filter('tr');
        var is_editable_by_admin = '{{ editable | e('js') }}';
        var is_editable_by_user = tr_object.hasClass('js_is_editable');
        if (!(is_editable_by_admin || is_editable_by_user))
          return;

        var paymentid = tr_object.data('paymentid');
        var key = $(this).data('key');
        var is_keyselect = ($(this).data('keyselect') != undefined);
        var submitdata = {key: key};
        var args = {submitdata: submitdata, method: 'PUT'};

        if (key == 'price') {
          args['data'] = function (value) {
            return value.replace(/\D/gi, '');
          };
        }

        if (is_keyselect) {
          args['type'] = 'select';
          args['loadurl'] = '/payments/const/' + key;
          args['submit'] = "OK";
        }

        $(this).editable('/payments/paymentid/' + paymentid, args);
      });

      $('select[name=js_super_edit]')
        .val({{ currentUid }})
        .trigger("chosen:updated")
        .change(function () {
          location.href = '/payments/uid/' + $(this).val();
        });
    });
  </script>
{% endblock %}

{% block body %}
  <h2>
    <span>
      {% if title %}
        {{ title }}
      {% else %}
        {{ user.name }}
      {% endif %}
    </span>
  </h2>
  <h4>
    <a href='/payments/uid/{{ currentUid }}/month/{{ prevmonth }}'>{{ prevmonth }}</a>
    / {{ month }} /
    <a href='/payments/uid/{{ currentUid }}/month/{{ nextmonth }}'>{{ nextmonth }}</a>
    /
    <a href='/payments/remain' class='paymentsCommand'>미승인</a>
    {% if isSuperAdmin %}
      /
      <a href='/payments/today' class='paymentsCommand'>오늘 결제 예정</a> ({{ todayQueuedCost }}원, {{ todayQueuedCount }}건)
    {% endif %}

  </h4>
  <form
    attrajax
    data-aa-url='/payments/uid/{{ currentUid }}'
    data-aa-method='post'
    data-aa-success-if-result-is="1"
    data-aa-datatype="text"
    data-aa-onsuccess-msg="추가되었습니다"
    data-aa-onsuccess="refresh"
    data-aa-onfail-alert="true"
  >

    <table class="table table-striped table-hover table-bordered table-condensed" datatable>
      <thead>
      <tr>
        <th>
          <input type="checkbox" class="js_payments_check" name="" title="payment_checkbox_all"/>
        </th>
        <th>요청일</th>
        <th>요청자</th>
        <th>승인자</th>
        <th>승인자 확인</th>
        <th>재무팀 확인</th>
        <th class="alert alert-info">귀속월</th>
        <th class="alert alert-info">귀속부서</th>
        <th class="alert alert-info">프로덕트</th>
        <th class="alert alert-info">분류</th>
        <th class="alert alert-info">상세내역</th>
        <th class="alert alert-info">파일</th>
        <th>업체명</th>
        <th>입금금액</th>
        <th>결제(예정)일</th>
        <th>세금계산서수취여부</th>
        <th class="alert alert-info">입금은행</th>
        <th class="alert alert-info">입금계좌번호</th>
        <th class="alert alert-info">예금주</th>
        <th class="alert alert-info">비고</th>
        <th>결제수단</th>
        <th>상태</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for key, payment in payments %}
        <tr class='payment
        {% if payment.status == '결제 완료' %}payment_done warning{% endif %}
        {% if payment.is_editable %}js_is_editable{% endif %}
        '
            data-paymentid='{{ payment.paymentid }}'>
          <td>
            <input type="checkbox" class="js_payment_check" data-paymentid="{{ payment.paymentid }}"
                   js_cookie_save
                   id='payment_{{ payment.paymentid }}'
                   title="payment_checkbox"/>
          </td>
          <td>{{ payment.request_date | slice(0, 10) }}</td>
          <td>{{ payment.register_name }}</td>
          <td data-key='manager_uid' data-keyselect>{{ payment.manager_name }}</td>
          <td>
            {% if payment.is_manager_accepted == 0 %}
              {% if payment.manager_uid == selfUid %}
                <input type='button' value='승인'
                       attrajax
                       data-aa-url='/payments/paymentid/{{ payment.paymentid }}'
                       data-aa-method='PUT'
                       data-aa-param='key=is_manager_accepted&value=1'
                       data-aa-confirm='정말 승인하시겠습니까?'
                       data-aa-datatype="text"
                       data-aa-success-if-result-is="1"
                       data-aa-onsuccess-msg="승인되었습니다"
                       data-aa-onsuccess="refresh"
                       data-aa-onfail-alert="true"
                />
              {% else %}
                X
              {% endif %}
            {% else %}
              {{ payment.manger_accept.created_datetime | date('Y-m-d') }}
            {% endif %}
          </td>
          <td>
            {% if payment.is_co_accepted == 0 %}
              {% if isSuperAdmin %}
                <input type='button' value='승인'
                       attrajax
                       data-aa-url='/payments/paymentid/{{ payment.paymentid }}'
                       data-aa-method='PUT'
                       data-aa-param='key=is_co_accepted&value=1'
                       data-aa-confirm='정말 승인하시겠습니까?'
                       data-aa-datatype="text"
                       data-aa-success-if-result-is="1"
                       data-aa-onsuccess-msg="승인되었습니다"
                       data-aa-onsuccess="refresh"
                       data-aa-onfail-alert="true"
                />
              {% else %}
                X
              {% endif %}
            {% else %}
              {{ payment.co_accpeter_name }} ({{ payment.co_accept.created_datetime | date('Y-m-d') }})
            {% endif %}
          </td>
          <td data-key='month'>{{ payment.month }}</td>
          <td data-key='team' data-keyselect>{{ payment.team }}</td>
          <td data-key='product' data-keyselect>{{ payment.product }}</td>
          <td data-key='category'>{{ payment.category }}</td>
          <td data-key='desc'>{{ payment.desc }}</td>
          <td>
            {% if payment.is_file_uploadable %}
              <div class="fileupload_button btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-open"></span>
                <input class="js_fileupload" type="file" name="files[]" multiple
                       data-paymentid="{{ payment.paymentid }}">
              </div>
            {% endif %}
            {% if payment.files %}
              <div class="dropdown" style="display: inline-block">
                <div class=" btn btn-warning btn-xs dropdown-toggle " id="dropdownMenu{{ payment.paymentid }}"
                     data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="true">
                  <span class="glyphicon glyphicon-download-alt"></span>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu{{ payment.paymentid }}">
                  {% for file in payment.files %}
                    <div style="clear: both;padding-right: 5px;">
                      <button attrajax
                              data-aa-url='/payments/file/{{ file.id }}'
                              data-aa-method='DELETE'
                              data-aa-confirm='{{ file.original_filename }} 파일을 정말 삭제하시겠습니까?'
                              data-aa-datatype="text"
                              data-aa-success-if-result-is="1"
                              data-aa-onsuccess-msg="삭제되었습니다"
                              data-aa-onsuccess="refresh"
                              data-aa-onfail-alert="true"
                              class="glyphicon glyphicon-trash btn btn-default btn-xs"
                              style="margin:3px;"
                      >
                      </button>
                      <a href="/payments/file/{{ file.id }}" target="_blank" title="{{ file.reg_date }}">
                        {{ file.original_filename }}
                      </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </td>
          <td data-key='company_name'>{{ payment.company_name }}</td>
          <td data-key='price'>{{ payment.price | number_format }}</td>
          <td data-key='pay_date'>{{ payment.pay_date | slice(0, 10) }}</td>
          <td data-key='tax' data-keyselect>{{ payment.tax }}</td>
          <td data-key='bank'>{{ payment.bank }}</td>
          <td data-key='bank_account'>{{ payment.bank_account }}</td>
          <td data-key='bank_account_owner'>{{ payment.bank_account_owner }}</td>
          <td data-key='note'>{{ payment.note }}</td>
          {% if isSuperAdmin %}
            <td data-key='paytype' data-keyselect>{{ payment.paytype }}</td>
            <td data-key='status' data-keyselect>{{ payment.status }}</td>
          {% else %}
            <td>{{ payment.paytype }}</td>
            <td>{{ payment.status }}</td>
          {% endif %}
          <td class='paymentsCommand'>
            {% if editable %}
              <input type='button' value='삭제'
                     attrajax
                     data-aa-url='/payments/paymentid/{{ payment.paymentid }}'
                     data-aa-method='DELETE'
                     data-aa-confirm='정말 삭제하시겠습니까?

업체명 : {{ payment.company_name }}
금액 : {{ payment.price | number_format }}'
                     data-aa-datatype="text"
                     data-aa-success-if-result-is="1"
                     data-aa-onsuccess-msg="삭제되었습니다"
                     data-aa-onsuccess="refresh"
                     data-aa-onfail-alert="true"
              />
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr class='add'>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <label>
            <select name='manager_uid' js_cookie_save js_data_chosen style="width:80px">
              {% for user in managerUsers %}
                <option value='{{ user.uid }}'>{{ user.name }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td></td>
        <td></td>
        <td class="alert alert-info">
          <input type='text' name='month' maxlength='7' style='width:60px;' value="{{ todayMonth }}"
                 placeholder="yyyy/mm"/>
        </td>
        <td class="alert alert-info">
          <label>
            <select name='team' js_cookie_save js_data_chosen style="width:250px;">
              {% for team in const.team %}
                <option value='{{ team }}'>{{ team }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td class="alert alert-info">
          <label>
            <select name='product' js_cookie_save js_data_chosen style="width:100px;">
              {% for product in const.product %}
                <option value='{{ product }}'>{{ product }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td class="alert alert-info">
          <label>
            <select id='js_category_input' js_cookie_save js_data_chosen style="width:350px;">
              {% for category in const.category %}
                <option value='{{ category }}'>{{ category }}</option>
              {% endfor %}
            </select>
            <input type='hidden' name='category'/>
          </label>
        </td>
        <td class="alert alert-info"><input type='text' name='desc' style='width:250px' placeholder='행사지원 쿠폰 인쇄'/></td>
        <td class="alert alert-info"></td>
        <td><input type='text' name='company_name' placeholder=''/></td>
        <td><input type='text' name='price' js_number_format placeholder=''/></td>
        <td>
          <label>
            <select id="js_pay_date_input">
              {% for product in const.pay_date %}
                <option value='{{ product }}'>{{ product }}</option>
              {% endfor %}
            </select>
          </label>
          <input type='hidden' name='pay_date'/>
        </td>
        <td>
          <label>
            <select name='tax' js_cookie_save>
              <option value='N/A'>N/A</option>
              {% for tax in const.tax %}
                <option value='{{ tax }}'>{{ tax }}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        <td class="alert alert-info"><input type='text' name='bank' style='width:60px' placeholder='우리'/></td>
        <td class="alert alert-info"><input type='text' name='bank_account' placeholder='xxx-xxxxxxx-xx-xxx'/></td>
        <td class="alert alert-info"><input type='text' name='bank_account_owner' placeholder='홍길동'/></td>
        <td class="alert alert-info"><input type='text' name='note' placeholder='비고'/></td>
        <td>
          {% if isSuperAdmin %}
            <label>
              <select name='paytype' js_cookie_save js_data_chosen>
                <option value='미정'>미정</option>
                {% for paytype in const.paytype %}
                  <option value='{{ paytype }}'>{{ paytype }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
        </td>
        <td>
          {% if isSuperAdmin %}
            <label>
              <select name='status' js_cookie_save js_data_chosen>
                <option value='결제 대기중'>결제 대기중</option>
                {% for status in const.status %}
                  <option value='{{ status }}'>{{ status }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
        </td>
        <td>
          <input type="submit" value="추가"/>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <select class="js_edit_all" data-key="is_manager_accepted" title="is_manager_accepted">
            <option value='0'>선택 일괄 적용</option>
            <option value='1'>승인</option>
          </select>
        </td>
        <td>
          {% if isSuperAdmin %}
            <select class="js_edit_all" data-key="is_co_accepted" title="is_co_accepted">
              <option value='0'>선택 일괄 적용</option>
              <option value='1'>승인</option>
            </select>
          {% endif %}
        </td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td class="alert alert-info"></td>
        <td>
          {% if isSuperAdmin %}
            <select class="js_edit_all" data-key="paytype" title="paytype">
              <option value='0'>선택 일괄 적용</option>
              {% for paytype in const.paytype %}
                <option value='{{ paytype }}'>{{ paytype }}</option>
              {% endfor %}
            </select>
          {% endif %}
        </td>
        <td>
          {% if isSuperAdmin %}
            <select class="js_edit_all" data-key="status" title="status">
              <option value='0'>선택 일괄 적용</option>
              {% for status in const.status %}
                <option value='{{ status }}'>{{ status }}</option>
              {% endfor %}
            </select>
          {% endif %}
        </td>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </form>

  <div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
  </div>

  <div style="width: 800px">
        <pre>
A. 기본정보
  1. <b><span style="color: red">승인자</span> : 본인의 상급자 (팀장, 파트장 등등)</b>
  2. 귀속월 : 비용이 실제 사용되는 년/월을 입력 (귀속월이 확정되지 않은 경우, 당월 입력할 것)
  3. 귀속부서 및 프로덕트 : 목록에서 선택
  4. 분류 : 사용 용도를 간단하게 입력 (ex. 광고비, 인쇄비, …)
  5. 상세내역 : 사용목적 등을 자세하게 입력
B. 결제정보
  1. 입금금액 : 부가세 포함한 전체 금액, 또는 원천징수세액 제외한 실 지급 금액을 입력
  2. 결제예정일 : 거래처에 입금을 해주어야 하는 날짜를 입력
  3. 세금계산서수취여부 : 결제요청 당시 수취여부 기입 (Y/N) 만약, 미수취상태인 경우 "비고"란에 수취예정일 기입
4. 비고 : 구매해야할 품목의 링크 입력
        </pre>

  </div>

  {% if isSuperAdmin %}
    <div style="width: 500px;">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>관리자 메뉴</th>
          <th></th>
        <tr>
        </thead>
        <tr>
          <td>
            이번달 결제자료 모두 다운받기
          </td>
          <td>
            <input type="button" value="받기"
                   onclick="location.href='/payments/download/{{ month }}'"/>
          </td>
        </tr>
        <tr>
          <td>
            이번달 미승인 자료 모두 다운받기
          </td>
          <td>
            <input type="button" value="받기"
                   onclick="location.href='/payments/downloadRemain/{{ month }}'"/>
          </td>
        </tr>
        <tr>
          <td>
            다른 사람 편집하기
          </td>
          <td>
            <label>
              <select name='js_super_edit' js_data_chosen style="width:100px">
                {% for user in allUsers %}
                  <option value='{{ user.uid }}'>{{ user.name }}</option>
                {% endfor %}
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            대기중인 요청
          </td>
          <td>
            <label>
              <select name='js_super_edit' js_data_chosen>
                <option selected>요청 선택</option>
                {% for user in queuedPayments %}
                  <option value='{{ user.uid }}'>{{ user.name }} (예정일
                    : {{ user.pay_date | slice(0, 10) }}
                    )
                  </option>
                {% endfor %}
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            오늘 결제 대기중
          </td>
          <td>
            {{ todayQueuedCost }} 원 ({{ todayQueuedCount }}건)
          </td>
        </tr>
        <tr>
          <td>
            미결재건 모음
          </td>
          <td>
            <a href="/payments/remain">이동하기</a>
          </td>
        </tr>
      </table>
    </div>
  {% endif %}
{% endblock %}
