{% extends 'ridi.twig' %}

{% block head %}
    {{ parent() }}
    <script>
        var edited = false;
        var currentUid = '{{currentUid}}';
        $(function () {
            $('.sampleInput').one('click', function () {
                $(this).val('');
            });
            $('.press td[data-key]').each(function () {
                var id = $(this).parent().data('pressid');
                var key = $(this).data('key');
                var submitdata = {id: id, key: key};
                var args = {submitdata: submitdata};

                args['data'] = function (value) {
                    edited = true;
                    return value;
                };

                $(this).editable('/press/edit', args);
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% if manager %}
        <form
                attrajax
                data-aa-url='/press/add'
                data-aa-method='post'
                data-aa-datatype="text"
                data-aa-success-if-result-is="1"
                data-aa-onsuccess-msg="추가되었습니다"
                data-aa-onsuccess="refresh"
                data-aa-onfail-alert="true"
                >
            <div class='press_info'>
                <h2>보도자료 관리</h2>
            </div>
            <table>
                <colgroup>
                    <col width="30"/>
                    <col width="50"/>
                    <col width="70"/>
                    <col width="420"/>
                    <col width="420"/>
                    <col width="100"/>
                    <col width="50"/>
                </colgroup>
                <thead>
                <tr>
                    <td colspan='12'>
                        <span>보도자료 목록 (<span class='js_press_title'>{{ user.name }}</span>)</span>
                    </td>
                </tr>
                <tr>
                    <td>번호</td>
                    <td>날짜</td>
                    <td>언론사</td>
                    <td>기사제목</td>
                    <td>링크</td>
                    <td>비고</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for key, press in press %}
                    <tr class='press' data-pressid='{{ press.id }}'>
                        <td>{{ key + 1 }}</td>
                        <td data-key='date'>{{ press.date }}</td>
                        <td data-key='media'>{{ press.media }}</td>
                        <td data-key='title'>{{ press.title }}</td>
                        <td data-key='link_url'>{{ press.link_url }}</td>
                        <td data-key='note'>{{ press.note }}</td>
                        <td class="receipts_command">
                            <input type='button' value='삭제'
                                   attrajax
                                   data-aa-url='/press/del/{{ press.id }}'
                                   data-aa-confirm='정말 삭제하시겠습니까?'
                                   data-aa-datatype="text"
                                   data-aa-success-if-result-is="1"
                                   data-aa-onsuccess-msg="삭제되었습니다"
                                   data-aa-onsuccess="refresh"
                                   data-aa-onfail-alert="true"
                                    />
                        </td>
                    </tr>
                {% endfor %}
                <tr class='receipts_command'>
                    <td></td>
                    <td>
                        <input type='text' name='date' maxlength='8' size='10' title="date" placeholder="yyyymmdd"/>
                    </td>
                    <td><input type='text' name='media' class='sampleInput' size="15" title="media"/></td>
                    <td>
                        <input type='text' name='title' class='sampleInput' size="65" title="title"/></td>
                    </td>
                    <td>
                        <input type='text' name='link_url' class='sampleInput' size="75" title="link_url"/></td>
                    </td>
                    <td>
                        <input type='text' name='note' class='sampleInput' size="10" title="note"/></td>
                    </td>
                    <td>
                        <input type='submit' value='추가하기'/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    {% else %}
        접근 권한이 없습니다.
    {% endif %}
{% endblock %}
