{% import _self as ridi %}


{% macro printLink(link) %}
  {% if link.is_visible %}
    <li>
      <a href="{{ link.url }}" target="{{ link.target }}">
        {% if link.glyphicon %}
          <span class="glyphicon glyphicon-{{ link.glyphicon }}"></span>
        {% endif %}
        {{ link.title }}
      </a>
    </li>
  {% endif %}
{% endmacro %}

{% macro printLinks(links) %}
  {% for link_name, link in links %}
    {% if link is iterable %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link_name }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for sub_link in link %}
            {{ _self.printLink(sub_link) }}
          {% endfor %}
        </ul>
      </li>
    {% else %}
      {{ _self.printLink(link) }}
    {% endif %}
  {% endfor %}
{% endmacro %}


<html lang="ko">
<head>
  <title>RIDI Corporation</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/screen.css" media="screen"/>
  <link rel="stylesheet" href="/static/css/print.css" media="print"/>
  <link rel="stylesheet" href="/static/css/style.css" media="screen"/>
  <link rel="stylesheet" href="/js/bower/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" href="/js/bower/bower_components/jquery-ui/themes/base/jquery-ui.min.css" media="screen"/>
  <link rel="stylesheet" href="/js/bower/bower_components/datatables/media/css/dataTables.bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/js/bower/bower_components/select2/select2.css">
  <link rel="stylesheet" href="/js/bower/bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <script src="https://cdn.ravenjs.com/3.9.0/raven.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js"></script>
  {% include 'require.config.twig' %}
  <script type="text/javascript" src="/static/js/common.js"></script>
  <script>
    var sentry_public_key = '{{ sentryPublicKey }}';
    if (sentry_public_key.length && window.Raven) {
      window.Raven.config(sentry_public_key).install();
    }
    requirejs(["bootstrap"], function () {
      //nav var를 위해 강제 호출
    });
  </script>

  {% block head %}
  {% endblock %}
</head>
<body>

{% block body_head %}
{% endblock %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if globalDomain == "ridi.com" %}
        <a class="navbar-brand" href="/">RIDI <span>INTRANET</span></a>
      {% else %}
        <a class="navbar-brand" href="/">StudioD</a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{ ridi.printLinks(leftMenuList) }}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{ ridi.printLinks(rightMenuList) }}
      </ul>
    </nav>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div>
  {% block body %}
  {% endblock %}
</div>
</body>
</html>
