{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}

  <script>
    $(function () {
      if (location.search == '?after_login' && window.innerWidth < 980) {
        location.href = '/rooms';
      }
      $(document).on('mouseover', '.js_user', function (e) {
        var id = $(this).data('userid');
        $('.js_user_popup[data-userid=' + id + ']').show(0);
        e.stopPropagation();
        return false;
      });
      $(document).on('mouseout', '.js_user', function (e) {
        var id = $(this).data('userid');
        $('.js_user_popup[data-userid=' + id + ']').hide(0);
        e.stopPropagation();
        return false;
      });
      $(document).on('mousemove', '.js_user', function (e) {
        var id = $(this).data('userid');
        var bodyPos = $('#user_map').position();
        $('.js_user_popup[data-userid=' + id + ']')
          .css('left', (e.pageX - bodyPos.left) + 'px')
          .css('top', (e.pageY - bodyPos.top) + 'px');
        e.stopPropagation();
        return false;
      });

      {% if replaceable %}
      $('.js_user').draggable({
        snap: true, containment: '#user_map', stop: function (e, ui) {
          var id = $(this).data('rawuserid');
          var x = parseInt(ui.position.left);
          var y = parseInt(ui.position.top);
          $.post('/users/' + id + '/updateExtra/posX/' + x);
          $.post('/users/' + id + '/updateExtra/posY/' + y);
        }
      });
      {% endif %}
    });
  </script>

{% endblock %}

{% block body_head %}
  {% for user in users %}
    <div class='js_user_popup' data-userid='{{ user.public_information.id_for_css }}'>
      <div>{{ user.public_information.name }}</div>
      {% if user.public_information.outer_call %}
        <div><strong>외선</strong> {{ user.public_information.outer_call }}</div>
      {% endif %}
      {% if user.public_information.inner_call %}
        <div><strong>내선</strong> {{ user.public_information.inner_call }}</div>
      {% endif %}
      <div><strong>긴급</strong> {{ user.public_information.mobile }}</div>
    </div>
  {% endfor %}
{% endblock %}

{% block body %}
  <div style="position: absolute;top:50px;bottom:0;left:0;right:0;overflow: auto" id="user_map">
    {% for user in users %}
      <div class='js_user'
           style='padding:0;left:{{ user.public_information.extra.posX }}px;top:{{ user.public_information.extra.posY }}px'
           data-userid='{{ user.public_information.id_for_css }}' data-rawuserid='{{ user.public_information.id }}'>
        <div style='padding:0;margin:0;height:100px;overflow:hidden;'>
          <div>{{ user.public_information.name }}</div>
          <img src='pics/{{ user.public_information.id }}.png' width='60px'
               data-userid='{{ user.public_information.id_for_css }}'
               onerror="$(this).detach()"
               class="js_user_img"
               data-rawuserid='{{ user.public_information.id }}'/>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
