<!--
item : PaymentDto
-->
<table>
  <tr>
    <td>
      요청일 : {{ item.request_date }}
    </td>
  </tr>
  <tr>
    <td>
      요청자 : {{ item.register_name }}
    </td>
  </tr>
  <tr>
    <td>
      분류 : {{ item.team }} / {{ item.product }}
    </td>
  </tr>
  <tr>
    <td>
      내용 : {{ item.category }}
    </td>
  </tr>
  <tr>
    <td>
      상세내용 : {{ item.desc }}
    </td>
  </tr>
  <tr>
    <td>
      금액 : {{ item.price }}
    </td>
  </tr>
  <tr>
    <td>
      결제예정일 : {{ item.pay_date }}
    </td>
  </tr>
  <tr>
    <td>
      {% if not item.is_manager_accepted or not item.is_co_accepted %}
        <a href="http://intra.ridi.com/payments/remain">승인하러가기</a>
      {% endif %}
    </td>
  </tr>
</table>
