<html lang="ko">
<head>
  <title>RIDI Corporation</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/js/bower/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
  <script>
    requirejs.config({
      baseUrl: "/js/bower/bower_components",
      paths: {
        "jquery": "jquery/dist/jquery.min",
        "jquery-ui": "jquery-ui/jquery-ui.min",
        "jquery.attrajax": "jquery.attrajax/jquery.attrajax",
        "jquery.jeditable": "jquery.jeditable/jquery.jeditable",
        "jquery.tmpl": "jquery.tmpl/jquery.tmpl",
        "jquery-form": "jquery-form/jquery.form",
        "jquery-number": "jquery-number/jquery.number.min",
        "bootstrap": "bootstrap/dist/js/bootstrap.min",
        "jquery.cookie": "jquery.cookie/jquery.cookie",
        "jqueryte": "jqueryte/dist/jquery-te-1.4.0.min"
      },
      shim: {
        "jquery-ui": ["jquery"],
        "jquery.attrajax": ["jquery", "jquery-form"],
        "jquery.jeditable": ["jquery"],
        "jquery.tmpl": ["jquery"],
        "jquery-form": ["jquery"],
        "jquery-number": ["jquery"],
        "bootstrap": ["jquery"],
        "jquery.cookie": ["jquery"],
        "jqueryte": ["jquery"]
      }
    });

  </script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script>
    var sentry_public_key = '{{ sentryPublicKey }}';
    if (sentry_public_key.length && window.Raven)
      window.Raven.config(sentry_public_key).install();
  </script>


</head>

<body class="account-pages">

{% macro input(name, value, type, size) %}
  {% if type != 'textarea' %}
    <input type="{{ type|default('text') }}" name="{{ name }}" placeholder="{{ value|e }}" size="{{ size|default(20) }}"
           title="{{ name }}"/>
  {% else %}
    <textarea name="{{ name }}" style="width:200px;height:150px;" title="">{{ value|e }}</textarea>
  {% endif %}
{% endmacro %}

{% block body %}
    <form id="js_join">
    <div class="outer">
      <div class="fader"></div>
      <div class="inner">
        
        <div class="box">
          <img src="/img/ridi-logo.png" alt="" class="logo">
          
          <label for="">이메일 주소</label>
          {{ _self.input('email', null, 'text') }}

          <label for="">이름</label>
          {{ _self.input('name', null, 'text') }}

          <label for="">생년월일</label>
          {{ _self.input('birth', '1980/01/01', 'text') }}

          <label for="">휴대전화</label>
          {{ _self.input('mobile', '010-0000-0000', 'text') }}

          <button
              attrajax
              data-aa-url='/users/join'
              data-aa-method="post"
              data-aa-param-form="#js_join"
              data-aa-confirm='정말 가입하시겠습니까?'
              data-aa-datatype="text"
              data-aa-success-if-result-is="1"
              data-aa-onsuccess-msg="가입되었습니다. 인사팀의 가입승인 후 이용가능합니다."
              data-aa-onsuccess="refresh"
              data-aa-onfail-alert
              class="blue-button"
            >
              회원가입
            </button>
        </div>

      </div>
    </div><!-- /outer -->
  
    </form>
{% endblock %}
</body>
</html>
