{% extends 'ridi.twig' %}

{% block head %}
  {{ parent() }}
  <script>
    require(["jquery", "jquery.fileupload", "bootstrap"], function ($) {

      function setEditMode(isOn, id) {
        if (isOn) {
          $("#" + id + " div.normal").hide();
          $("#" + id + " div.edit").show();
        } else {
          $("#" + id + " div.normal").show();
          $("#" + id + " div.edit").hide();
        }
      }

      $(".btn.edit").click(function (e) {
        let key = $(this).attr("data-key");
        setEditMode(true, key);
      });

      $(".btn.save").click(function (e) {
        let self = $(this);
        let cancelBtn = $(self.siblings("button.cancel")[0]);

        let key = self.attr("data-key");
        let value = $("#"+key+" .content").val();

        $.ajax({
          url: "/users/edit",
          type: "post",
          data: {uid: {{ uid }}, key:key, value:value},
          success: function (data) {
            let result = data;
            if (key=='comment' && !result) {
              result = '[내용이 없습니다.]';
            }

            $("#"+key+" span").html(result);

            self.attr("disabled", false);
            cancelBtn.attr("disabled", false);
            self.text("저장");
            setEditMode(false, key);
          }
        });

        self.attr("disabled", true);
        cancelBtn.attr("disabled", true);
        self.text("기록 중..");
      });

      $(".btn.cancel").click( function (e) {
        let key = $(this).attr("data-key");
        setEditMode(false, key);
      });

      $("#edit-img").fileupload( {
        url : '/users/image_upload/',
        formData: {uid: {{ uid }}},
        dropZone: $(this),
        dataType: 'json',
        //replaceFileInput: false,
        add: function (e, data) {
          let uploadFile = data.files[0];
          let isValid = true;
          if (!(/png|jpe?g|gif/i).test(uploadFile.name)) {
            alert('png, jpg, gif 만 가능합니다');
            isValid = false;
          } else if (uploadFile.size > 5000000) { // 5mb
            alert('파일 용량은 5메가를 초과할 수 없습니다.');
            isValid = false;
          }
          if (isValid) {
            data.submit();
          }
        },
        progressall: function (e, data) {
          let progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress .bar').css(
            'width',
            progress + '%'
          );
        },
        done: function (e, data) {
          alert('업로드 완료');
          location.reload();

        },
        fail: function (e, data){
          // data.errorThrown
          // data.textStatus;
          // data.jqXHR;
          alert('서버와 통신 중 문제가 발생했습니다');
        }
      });

    });
  </script>
  <style>
    .upload-button {
      position: relative;
      overflow: hidden;
    }
    .upload-button input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      opacity: 0;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="myinfo">
      <header class="page-header">
        <h1 class="page-title">{{title}}</h1>
      </header>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="panel panel-default">

            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-12">
                  <div class="col-xs-12 col-sm-4">
                    <figure>
                      <img class="img-circle img-responsive"
                          {% if info.image %}
                            src={{ info.image }}
                          {% else %}
                            src="http://placehold.it/300x300">
                          {% endif %}
                    </figure>

                    <span class="btn btn-xs btn-primary upload-button";>
                      <i class="glyphicon glyphicon-upload"></i>
                      <span>사진 변경..</span>
                      <input id="edit-img" type="file">
                    </span>
                  </div>

                  <div class="col-xs-12 col-sm-8">
                    <dl class="dl-horizontal">

                      {% for key,value in info.body %}
                        <dt>
                        <h5 class="input_title">{{ value[0] }}</h5>
                        </dt>
                        <dd id="{{ key }}" class="list-group-item">
                          <div class="normal">
                            <span>{{ value[1] }}</span>
                            {% if value[2] %}
                              <div class="pull-right">
                                <button class="btn btn-xs edit" data-key="{{ key }}">편집</button>
                              </div>
                            {% endif %}
                          </div>
                          <div class="edit" style="display: none;">
                            <input class="content" type="text" value="{{ value[1] }}">
                            <div class="pull-right">
                              <button class="btn btn-xs save" data-key="{{ key }}">저장</button>
                              <button class="btn btn-xs cancel" data-key="{{ key }}">취소</button>
                            </div>
                          </div>
                        </dd>
                      {%  endfor %}

                    </dl>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <h4>소개</h4>
              <div id="comment" class="list-group-item">
                <div class="normal">
                  <span>
                    {% if info.comment is null or info.comment == "" %}
                        [내용이 없습니다.]
                    {% else %}
                      {{ info.comment }}
                    {% endif %}
                  </span>
                  <button class="btn btn-xs pull-right edit" data-key="comment">편집</button>
                </div>
                <div class="edit" style="display: none;">
                  <textarea rows="5" cols="100" class="content" type="text">{{ info.comment }}</textarea>
                  <div class="pull-right">
                    <button class="btn btn-xs pull-right save" data-key="comment">저장</button>
                    <button class="btn btn-xs pull-right cancel" data-key="comment">취소</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

{% endblock %}
