<dt>
<h5 class="input_title">{{ name }}</h5>
</dt>
<dd id="{{ key }}" class="list-group-item">
  <div class="normal">
    <span>
      {{ value }}
    </span>
    {% if not readOnly %}
      <div class="pull-right">
        <button class="btn btn-xs edit" data-key="{{ key }}">편집</button>
      </div>
    {% endif %}
  </div>
  <div class="edit" style="display: none;">
    <input class="content" type="text" value="{{ value }}">
    <div class="pull-right">
      <button class="btn btn-xs save" data-key="{{ key }}">저장</button>
      <button class="btn btn-xs cancel" data-key="{{ key }}">취소</button>
    </div>
  </div>
</dd>
