{% extends 'ridi.twig' %}

{% block head %}
    {{ parent() }}
    <script>
        require(["jquery", "bootstrap"], function ($) {

            function setEditMode(isOn, id) {
                if (isOn) {
                    $("#" + id + " div.normal").hide();
                    $("#" + id + " div.edit").show();
                } else {
                    $("#" + id + " div.normal").show();
                    $("#" + id + " div.edit").hide();
                }
            }

            $(".btn.edit").click(function(e) {
                var key = $(this).parent().parent().attr("id");
                setEditMode(true, key);
            });

            $(".btn.save").click(function(e) {
                var self = $(this);
                var cancelBtn = $(self.siblings("button.cancel_btn")[0]);

                var key = self.parent().parent().attr("id");
                var value = $(self.siblings(".content")[0]).val();

                $.ajax({
                    url:"/users/edit",
                    type:"post",
                    data:{uid:{{uid}}, key:key, value:value},
                    success:function(data) {
                        $("#"+key+" span").html(data);
                        self.attr("disabled", false);
                        cancelBtn.attr("disabled", false);
                        self.text("저장");
                        setEditMode(false, key);
                    }
                });

                self.attr("disabled", true);
                cancelBtn.attr("disabled", true);
                self.text("기록 중..");
            });

            $(".btn.cancel").click(function(e) {
                var key = $(this).parent().parent().attr("id");
                setEditMode(false, key);
            });

        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="myinfo">
            <header class="page-header">
                <h1 class="page-title">{{list.name[1]}}</h1>
                <!--<small> <i class="fa fa-clock-o"></i> Last Updated on: <time>Sunday, October 05, 2014</time></small>-->
            </header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-xs-12 col-sm-4">
                                        <figure>
                                            <img class="img-circle img-responsive"
                                            {% if image %}
                                                src={{ image }}
                                            {% else %}
                                                src="http://placehold.it/300x300">
                                            {% endif %}
                                        </figure>
                                    </div>

                                    <div class="col-xs-12 col-sm-8">
                                        <dl class="dl-horizontal">

                                            {% for key,value in list %}
                                            <dt>
                                                <h5 class="input_title">{{ value[0] }}</h5>
                                            </dt>
                                            <dd id="{{ key }}" class="list-group-item">
                                                <div class="normal">
                                                    <span>{{ value[1] }}</span>
                                                    <button class="btn btn-xs pull-right edit">편집</button>
                                                </div>
                                                <div class="edit" style="display: none;">
                                                    <input class="content" type="text" value="{{ value[1] }}">
                                                    <button class="btn btn-xs pull-right save">저장</button>
                                                    <button class="btn btn-xs pull-right cancel">취소</button>
                                                </div>
                                            </dd>

                                            {%  endfor %}

                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>소개</h4>
                            <div id="comment" class="list-group-item">
                                <div class="normal">
                                    <span>{{ comment }}</span>
                                    <button class="btn btn-xs pull-right edit">편집</button>
                                </div>
                                <div class="edit" style="display: none;">
                                    <textarea rows="5" cols="100" class="content" type="text">{{ comment }}</textarea>
                                    <button class="btn btn-xs pull-right save">저장</button>
                                    <button class="btn btn-xs pull-right cancel">취소</button>
                                </div>
                            </div>
                            <!--
                            <p>
                                {{ comment }}
                            </p>
                            -->
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}
