{% extends 'ridi.twig' %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ title }}
            {% if is_new %}
              <span class="label label-success">NEW</span>
            {% endif %}
          </div>
          <div class="panel-body">
            {{ content_html | raw }}
            <p class="text-right" style="color:#aaa">{{ updated_at }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a href="/posts/{{ group }}">
          <button class="btn" type="button">
            목록으로
          </button>
        </a>
      </div>

      <div class="col-xs-1">
        {% if isPostAdmin %}
          <a href="/posts/{{ group }}/{{ id }}/modify">
            <button class="btn btn-primary" type="button">
              수정하기
            </button>
          </a>
        {% endif %}
      </div>
      <div class="col-xs-1">
        {% if isPostAdmin %}
          <button attrajax
                  data-aa-url='/posts/{{ group }}/{{ id }}'
                  data-aa-method='DELETE'
                  data-aa-confirm='정말 삭제하시겠습니까?'
                  data-aa-datatype="json"
                  data-aa-onsuccess-msg="삭제되었습니다"
                  data-aa-onsuccess-url="/posts/notice"
                  data-aa-onfail-alert="true"
                  class="btn btn-warning"
                  type="button"
          >삭제하기
          </button>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
