{% extends 'ridi.twig' %}

{% block head %}
  <style>
    tbody td {
      text-align: left;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <table class="table">
      <col width="20">
      <col width="*">
      <col width="80">
      <tbody>
      {% for index, post in posts %}
        <tr>
          <td>
            {{ lastItem + posts.length - index }}
          </td>
          <td>
            <a href="/posts/{{ group }}/{{ post.id }}">
              {{ post.title }}
            </a>
            {% if post.is_new %}
              <span class="label label-success">NEW</span>
            {% endif %}
            {% if not post.is_sent %}
              <span class="label label-info">미발송</span>
            {% endif %}
            <span class="label label-info">{{ post.name }}</span>
          </td>
          <td>
            {{ post.updated_at|date('Y-m-d') }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="row">
      {% if isSuperAdmin %}
        <div class="col-xs-7">
          <a href="/posts/{{ group }}/sendAll">
            <button class="btn btn-primary" type="button">
              모두 발송하기
            </button>
          </a>
        </div>

        <div class="col-xs-1">
          <a href="/posts/{{ group }}/write">
            <button class="btn btn-primary" type="button">
              글쓰기
            </button>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
