{% extends 'ridi.twig' %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        {% for post in posts %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="/posts/{{ group }}/{{ post.id }}">{{ post.title }}</a>
              {% if not post.is_sent %}
                <span class="label label-info">미발송</span>
              {% endif %}
              <span class="label label-info">{{ post.uid_name }}</span>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
    {% if isSuperAdmin %}
      <a href="/posts/{{ group }}/write">
        <button class="btn btn-primary" type="button">
          글쓰기
        </button>
      </a>
      <a href="/posts/{{ group }}/sendAll">
        <button class="btn btn-primary" type="button">
          모두 발송하기
        </button>
      </a>
    {% endif %}
  </div>

{% endblock %}
