<!DOCTYPE html>
<html lang="en">
<head>
  <title>RIDI Coporation</title>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.css" media="screen"/>
  <link rel="stylesheet" href="/css/screen.css" media="screen"/>
  <link rel="stylesheet" href="/css/print.css" media="print"/>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Cookies.js/0.3.1/cookies.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/genesos/AttrAjax/master/attrajax.js"></script>

  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/jquery.form.js"></script>
  <script type="text/javascript" src="/js/jquery.jeditable.js"></script>
  <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="/js/jquery.number.min.js"></script>

  <style>
    body, div, td, p {
      font-size: 12px;
    }

    body {
      width: 100%;
    }

    thead td {
      background-color: #888;
      color: #eee;
    }

    tbody td {
      text-align: right;
      padding-left: 10px;
      border-bottom: 1px solid #ddd;
    }
  </style>

  <script>
    require(["jquery"], function ($) {
      $('.box').each(function () {
        var _this = $(this);
        var d = 10;
        var color = '#e77';

        if (_this.hasClass('_1'))
          d = 30;
        else if (_this.hasClass('_2'))
          d = 20;

        if (_this.hasClass('_blue'))
          color = '#77e';
        else if (_this.hasClass('_green'))
          color = '#7e7';

        var dL = d + parseInt(_this.css('padding-left'));
        var dT = d + parseInt(_this.css('padding-top'));
        var obj;
        obj = $('<div />')
          .css('position', 'absolute')
          .css('border', '0px')
          .css('margin-left', '-' + dL + 'px')
          .css('margin-top', '-' + dT + 'px')
          .css('width', d + 'px')
          .css('height', (d * 2) + 'px')
          .css('background-color', color);
        _this.prepend(obj);
        obj = obj.clone()
          .css('margin-left', '0px')
          .css('margin-top', '-' + dT + 'px')
          .css('margin-left', '-' + _this.css('padding-left'))
          .css('width', d + 'px')
          .css('height', d + 'px');
        _this.prepend(obj);
        _this.css('border', '1px solid ' + color);
      });
    });
  </script>
</head>
<body>

{% macro input(name, value, type, size) %}
  {% if type != 'textarea' %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}"
           title="{{ name }}"/>
  {% else %}
    <textarea name="{{ name }}" style="width:200px;height:150px;" title="">{{ value|e }}</textarea>
  {% endif %}
{% endmacro %}

{% block body %}
  <div style='width:100%'>
    <div class='box _blue' style='width:300px;margin: 100px auto 0;padding:20px;'>
      <form id="js_join">
        <table>
          <tr>
            <td>
              이메일
            </td>
            <td>
              {{ _self.input('email', null, 'text') }}
            </td>
          </tr>
          <tr>
            <td>
              이름
            </td>
            <td>
              {{ _self.input('name', null, 'text') }}
            </td>
          </tr>
          <tr>
            <td>
              생년월일
            </td>
            <td>
              {{ _self.input('birth', '0000/00/00', 'text') }}
            </td>
          </tr>
          <tr>
            <td>
              휴대전화
            </td>
            <td>
              {{ _self.input('mobile', '010-0000-0000', 'text') }}
            </td>
          </tr>
        </table>
        <div>
          <div>
            <button
              attrajax
              data-aa-url='/users/join'
              data-aa-method="post"
              data-aa-param-form="#js_join"
              data-aa-confirm='정말 가입하시겠습니까?'
              data-aa-datatype="text"
              data-aa-success-if-result-is="1"
              data-aa-onsuccess-msg="가입되었습니다. 인프라팀의 가입승인 후 이용가능합니다."
              data-aa-onsuccess="refresh"
              data-aa-onfail-alert
            >
              Join
            </button>
            <A onclick="history.go(-1)">
              <button>Back</button>
            </A>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
</body>
</html>
